:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
}

.camera-wrapper {
  position: relative;
  width: 100%;
  max-width: 640px;
  aspect-ratio: 4/3;
  margin: auto;
  overflow: hidden;
  border-radius: 1rem;
  background: rgb(101, 160, 248);
}

/* Video */
.camera-video {
  width: 100%;
  border-radius: 12px;
}

/* Overlay container */
.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Oval hole */
.oval-mask {
  width: 50%;
  aspect-ratio: 5/6;
  border-radius: 50%;
  border: 3px dashed #65a0f8;

  /* MAGIC PART */
  background: transparent;
  box-shadow:
    0 0 0 9999px rgba(0, 0, 0, 0.6);
}

/* Text */
.hint {
  margin-top: 12px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 5px;
  background-color: rgba(0, 0, 0, 0.479);
  padding: 2px 4px;
  border-radius: 5px;
}